<%= form_with(model: @comment, local: true, url: choose_new_or_edit) do |form| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= @comment.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="comment_title">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>
  <%= link_to "投稿一覧画面にもどる", comments_path %>
   