<%= form_with(model: @comment, local: true, url: choose_new_or_edit) do |form| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= @comment.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
    <%= form.label :image , class: "image"%>
    <%= image_tag(@comment.image.url) if @comment.image && @comment.image.url %>
    <%= form.file_field :image, class: "input" %>
    <%= form.hidden_field :image_cache %>
    </div>
    <div class="comment_title">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <%= link_to "投稿一覧画面にもどる", comments_path %>
   